<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Join Room</title>
</head>
<body>
    <form action="/join" method="POST">
        <input type="text" name="roomid" requried>
        <input type="password" name="password">   
        <input type="text" name="username" placeholder="Your username" title="This will be displayed to other participants in the room">
        <input type="submit" value="Join Room">
    </form>
</body>
</html>